body{
    background-color: #dbdbdb;
    font-family:Arial, Helvetica, sans-serif;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 4px 10px;
    margin: 8px 0px;
    border: 0px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background-color: #369039;
    width: 90%;
}

.caja{
    background-color: white;
    padding: 15px;
    border: 3px solid rgb(210, 208, 208);
    border-radius: 4px;
}
